docker.enabled = true

workDir = '/home/ubuntu/point/work'

process{
    withLabel: 'star'{
        cpus = 8
        memory = '40GB'
    }
    withLabel: 'bowtie2'{
        cpus = 6
        memory = '8GB'
    }
    withLabel: 'samtools_bowtie2'{
        cpus = 4
        memory = '40GB'
    }
    withLabel: 'trim_galore'{
        cpus = 2
    }
    withLabel: 'kallisto'{
        cpus = 4
    }
    withLabel: 'salmon'{
        cpus = 6
    }
    withLabel: 'featureCounts'{
        cpus = 6
    }
    withLabel: 'samtools_star'{
        cpus = 4
    }
    withLabel: 'star_calc_gene_cov'{
        cpus = 4
    }
    withLabel: 'star_calc_genome_cov'{
        cpus = 4

    }
}


trace {
    enabled = true
    fields = 'task_id, name, status, exit, module, container, cpus, time, disk, memory, %cpu, %mem, rss, vmem, peak_rss, peak_vmem'
    overwrite = true
}

report {
    enabled = true
    overwrite = true
}